.navigation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    & a.active {
    color: hotpink;
    text-decoration: none;
    font-size: 16px;

    &:hover {
        text-decoration: underline;
    }
    }

    
    .nav-logo {
        color: white;
        font-size: 24px;
        font-weight: bold;
    
        &:hover {
        text-decoration: underline;
        }
    }
}